---
Checks: >-
  -*,
  bugprone-*,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-std-namespace-modification,
  misc-*,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-use-internal-linkage,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-declaration,
  -readability-uppercase-literal-suffix,
HeaderFilterRegex: '.*\.hpp$'
UseColor: true
WarningsAsErrors: '*'
...
